.tag-base{
    display: inline-block;
    width: 66px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
}
  
.tag-bg-base{
    line-height: 24px;
    font-size: 14px;
    color: $white;
}
  
.tag-round{
    display: inline-block;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    color: $white;
    font-weight: 700;
    text-align: center;
}
  
@include tagCreate()